<label>Server Name</label>

<!-- event binding -->

<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)" /> -->

<!-- two way binding -->
<!-- note: two way binding eliminates the need for the onUpdateServerName function -->

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->

<!-- property binding for disabled attribute -->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<!-- string interpolation -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
